<?php
// Configuração do Banco SQL Server (Sicnet)
define('DB_SERVER', 'LocalHost\SQLEXPRESS');
define('DB_DATABASE', 'SICNET');
define('DB_USER', 'loja');
define('DB_PASS', 'Bandau45');

// Configuração da Evolution API
define('EVOLUTION_API_URL', 'http://192.168.1.109:8080'); 
define('EVOLUTION_API_KEY', '429683C4C977415CAAFCCE10F7D57E11');

// Conexão com o banco via PDO SQLSRV
function get_db_connection() {
    try {
        $conn = new PDO(
            "sqlsrv:Server=" . DB_SERVER . ";Database=" . DB_DATABASE,
            DB_USER,
            DB_PASS
        );
        $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
        return $conn;
    } catch (PDOException $e) {
        die("Erro de Conexão com o Banco: " . $e->getMessage());
    }
}